@* ReSharper disable once Mvc.ActionNotResolved *@
<form asp-action="Add" class="form-inline form-entity-browse">
    <div class="form-group">
        <label class="sr-only" for="entityId">Entity ID</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
            <input name="entityId" type="text" class="form-control" id="entityId" placeholder="Entity ID" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add new</button>
</form>
