@if (!ViewData.ModelState.IsValid)
{
    <div class="panel panel-danger">
        <div class="panel-heading">Validation errors</div>
        <div class="panel-body">
            @Html.ValidationSummary()
        </div>
    </div>
}